@use "../../styles/variables/sass.scss" as *;

.block {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
  gap: $size-normal;
  padding: $size-normal 0;
}

.card {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex: 0 1 $width-mobile;
  background-color: var(--colour1-primary);
  border-radius: 10px;
  border: $size-thin solid transparent;
  transition-property: border, box-shadow;
  transition-duration: var(--duration-global);

  & > * {
    padding: $size-normal;
  }

  &:hover,
  &:focus-within {
    box-shadow: 0 0 5px var(--positive-colour1-primary);
  }
}

.header {
  grid-area: header;
  align-self: flex-start;
  padding-bottom: $size-small;
  overflow-wrap: anywhere;
}

.body {
  width: 100%;
  padding: $size-small $size-normal;
}

.footer {
  width: 100%;
  grid-area: footer;
  gap: $size-small;
  padding-top: $size-small;
}
