@use "../../styles/variables/sass.scss" as *;

.block {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: $size-normal;
  padding: 0px $size-large;
}

.cardlist {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: $size-normal;
  padding: 0;
}

.hrefblock {
  display: block;
}

.card {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  flex: 0 1 200px;
  background-color: var(--colour1-primary);
  border-radius: 10px;
  border: $size-thin solid transparent;
  transition-property: border, box-shadow;
  transition-duration: var(--duration-global);

  & > * {
    padding: 0;
  }

  &:hover,
  &:focus-within {
    box-shadow: 0 0 5px var(--positive-colour1-primary);
  }
}

.header {
  margin: 0px 0px;
  width: 100%;
  overflow-wrap: anywhere;
}

.body {
  width: 100%;
  padding: $size-small $size-normal;
}
