@use "../../styles/variables/sass.scss" as *;

.block {
  display: inline-block;
}

.section {
  &_keyValue {
    display: flex;
    flex-flow: column nowrap;
    gap: $size-small;
  }

  &_horizontal {
    flex-flow: row nowrap;
    align-items: center;
  }
}

.term {
  display: inline-block;
  font-weight: bold;
}

.definition {
  display: inline-block;
}
