@use "../../styles/variables/sass.scss" as *;

.block {}

.ordered {}

.unordered {}

.horizontal {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: $size-normal;
}

.item {}
