

html, body {
    background-color: #f9f4e9;
    position: relative;
    padding: 0px;
    margin: 0px;
    font-family: "Lato";
    min-height: 100%;
    height: 0px;
}

.navbar {
    background-color: #ffffff;
    filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.1));
    height: 64px;
    padding: 0px;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    z-index: 100;
}

.navbar > div {
    /*margin: auto;*/
    display: inline-block;

}
/*.navbar > div > * {*/
/*    margin: 0px 0px 0px 0px;*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    top: 50%;*/
/*    transform: translateY(-50%);*/
/*}*/

.navbar > div:nth-child(1) {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.navbar > div:nth-child(2) {
    position: absolute;
    margin: auto;
    display: inline-block;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.navbar > div:nth-child(3) {
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    float: right;
    text-align: right;
}


.search-modal {
    position: absolute;
    z-index: 2;
    background-color: grey;
    width: 100%;
    visibility: hidden;
}

#tag {
    width: 100px;
}

.panel {
    background-color: #ffffff;
    position: relative;
}

h1 {
    font-family: "Lato";
    font-weight: bold;
    font-size: 20px;
    color: #2D3748;
    display: inline;
}

h4 {
    display: inline;
    font-size: 16px;
}

h5 {
    display: inline;
    font-size: 14px;
}

.upload_date {
    font-size: 12px;
    color: #718096;
}

.video-rating {
    left: 5px;
}

.view-display {
    top: 5px; /* lol why do I need to do this? is it because of rateyo? */
    position: relative;
}

.pfp {
    height: 128px;
    width: 128px;
    vertical-align: top;
    top: 0px;
    display: inline-block;
}

.pfp-small {
    height: 32px;
    width: 32px;
    vertical-align: top;
    top: 0px;
    display: inline-block;
}

.bodydiv {
    padding-left: 50px;
    padding-right: 50px;
}

.video-thumb {
    width: 100%;
    border-radius: 4px;
}

.video-section {
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 6px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 1;
    border: 1px #CBD5E0 solid;
    border-radius: 4px;
    min-height: 80%;
}

.video-container {
    /*height: 170px;*/
    width: 145px;
    display: inline-block;
    margin: 16px;
    vertical-align: top;
    font-size: 14px;

}

p {
    padding: 0px;
    margin: 0px;
    vertical-align: top;

}

.profile-picture {
    display: inline-block;
    height: 80%;
}

.inner-profile-section {
    padding: 30px;
}

.float-right {
    float: right;
}

.video-player-section {
    width: calc(100% - 600px);
}

video {
    width: 100%;
}

.video-player-section > div {
    width: 100%;
    margin: 0px;
    border-left: 1px solid #CBD5E0;
    border-right: 1px solid #CBD5E0;
    background-color: #FFFFFF;
}

.bottom-border {
    border-bottom: 1px solid #CBD5E0;
}

.description-section {
}

.inner-description {
    padding:15px;
}

.user-content {
    display: inline-block;
    vertical-align: top;
}

.user-content :nth-child(2){
    line-height: 30px;
}


.user-content :nth-child(3){
    line-height: 30px;
}

.comment-content {
    display: inline-block;
    vertical-align: top;
    padding-left: 15px;
}

.comment-section {
    vertical-align: top;
}

.inner-comment-section {
    padding-left: 10px;
}

.searchbar {
    width: 300px;
    height: 31px;
    border-radius: 4px;
    border: 1px solid #CBD5E0;
    color: #A0AEC0;
}

.searchbar p {
    padding-left: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.pageSection {
    top: 0px;
    display: block;
    position: static;
}

.currentPage {
    text-decoration: underline;
    font-weight: bolder;
}

.video-title {
    font-weight: bold;
    font-size: 12px;
    color: #2D3748;
}

.views {
    font-size: 12px;
    color: #718096;
}

a, a:visited, a:hover {
    color: #319795;
}

.plain-link{
    text-decoration:none;
}

.video-gallery-rating {
    top: -27px;
    height: 0px;
}