body {
    background-color: #f9f4e9;
    padding: 0px;
    margin: 0px;
}

.navbar {
    background-color: #ffffff;
    filter: drop-shadow(0px 2px 1px #000000);
    height: 40px;
    margin: 0px;
    margin-bottom: 50px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar > div {
    /*margin: auto;*/
    display: inline-block;

}
/*.navbar > div > * {*/
/*    margin: 0px 0px 0px 0px;*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    top: 50%;*/
/*    transform: translateY(-50%);*/
/*}*/

.navbar > div:nth-child(1) {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.navbar > div:nth-child(2) {
    position: absolute;
    margin: auto;
    display: inline-block;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.navbar > div:nth-child(3) {
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    float: right;
    text-align: right;
}


.search-modal {
    position: absolute;
    z-index: 1;
    background-color: grey;
    width: 100%;
    visibility: hidden;
}

#tag {
    width: 100px;
}

.panel {
    background-color: #ffffff;
    filter: drop-shadow(0px 2px 4px #000000);
    position: relative;
}

h1 {
    font-family: "Lato";
    font-weight: bold;
    font-size: 20px;
}

h2 {
    font-family: "Lato";
    font-weight: bold;
    font-size: 16px;
}

.pfp {
    height: 128px;
    width: 128px;
    vertical-align: top;
    top: 0px;
    display: inline-block;
}

.pfp-small {
    height: 32px;
    width: 32px;
    vertical-align: top;
    top: 0px;
    display: inline-block;
}

.bodydiv {
    padding-left: 50px;
    padding-right: 50px;
}

.video-thumb {
    width: 100%;
}

.video-section {
    margin: 0px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: -1;
}

.video-container {
    /*height: 170px;*/
    width: 145px;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
    font-size: 14px;
}

p {
    padding: 0px;
    margin: 0px;
    vertical-align: top;

}

.profile-picture {
    display: inline-block;
    height: 80%;
}

.inner-profile-section {
    padding: 30px;
}

.float-right {
    float: right;
}

.video-player-section {
    width: calc(100% - 600px);
}

video {
    width: 100%;
}

.video-player-section > div {
    width: 100%;
    margin: 0px;
    border-left: 1px solid #CBD5E0;
    border-right: 1px solid #CBD5E0;
    background-color: #FFFFFF;
}

.bottom-border {
    border-bottom: 1px solid #CBD5E0;
}

.description-section {
}

.inner-description {
    padding:15px;
}

.user-content {
    display: inline-block;
    vertical-align: top;
}

.user-content :nth-child(2){
    line-height: 30px;
}


.user-content :nth-child(3){
    line-height: 30px;
}

.comment-content {
    display: inline-block;
    vertical-align: top;
    padding-left: 15px;
}

.comment-section {
    vertical-align: top;
}

.inner-comment-section {
    padding-left: 10px;
}

textarea {
    width: 200px;
}

.pageSection {
    top: 0px;
    display: block;
    position: static;
}

.currentPage {
    text-decoration: underline;
    font-weight: bolder;
}