{{define "header"}}
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/common.css">

    <div class="navbar">
        <div><h1>Horahora</h1></div>
        <div><textarea cols="1" rows="1">Search for videos</textarea></div>
        <div>{{if .Username}} <a href="/archiverequests">Archive Requests</a><a href="/users/{{.UserID}}">{{.Username}} </a> {{else}}<a href="/login">Login</a> {{end}}</div>
    </div>
</head>
{{end}}