{{define "login"}}
    {{ template "header" . }}
    <div class="panel">
        <form action="/login" method="post">
            <label>Username</label><input type="text" name="username" required>
            <p></p>
            <label>Password</label><input type="password" name="password" required>
            <p></p>
            <button type="submit">Login</button>

        </form>
    </div>
{{end}}