{{define "pagination"}}
    {{ $currentPage := .CurrentPage }}
    {{ $currentPath := .CurrentPath }}
    <div class="pageSection">
        {{ range $pageNumber := .Pages }}
            {{ if eq $pageNumber $currentPage }} <a class="pageLink currentPage" href="{{ $currentPath }}?page={{ $pageNumber }}"> {{ $pageNumber }}</a> {{else}} <a class="pageLink" href="{{ $currentPath }}?page={{ $pageNumber }}"> {{ $pageNumber }}</a> {{end}}
        {{end}}
    </div>
{{end}}