{{define "pagination"}}
    {{ $currentPage := .CurrentPage }}
        {{ $PathsAndQueryStrings := .PathsAndQueryStrings }}
    <div class="pageSection">
        {{ range $index, $pageNumber := .Pages }}
            {{ if eq $pageNumber $currentPage }} <a class="pageLink currentPage" href="{{ index $PathsAndQueryStrings $index }}"> {{ $pageNumber }}</a> {{else}} <a class="pageLink" href="{{ index $PathsAndQueryStrings $index }}"> {{ $pageNumber }}</a> {{end}}
        {{end}}
    </div>
{{end}}