@use "../../styles/variables/sass.scss" as *;

.block {}

.title {
  text-transform: none;
  text-align: center;
}

.tags {
  gap: $size-small $size-normal;
  border: 1px solid var(--colour0-primary);
  padding: $size-small;
}

.tag {
  border: 1px solid var(--anchour-internal-colour1-secondary);
  padding: 1px;
}
