@use "../../styles/variables/sass.scss" as *;

.block {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: $size-small;
  background-color: var(--colour1-secondary);
  border-radius: $radius-small;
  padding: $size-small;

  transition-duration: var(--duration-global);
  transition-property: background-color, color;

  &:active {
    background-color: var(--colour1-primary);
  }
}
