@use "../styles/variables/sass.scss" as *;

.block {
  justify-self: center;
  display: grid;
  // @TODO: make the content respect the max size
  grid-template-columns: $width-tablet;
  gap: $size-normal;
  background-color: var(--colour1-primary);
  border-radius: $radius-normal;
  padding: $size-normal;

  @media (min-width: $width-tablet) {
    padding: $size-big;
  }
}

.body {
  display: grid;
grid-template-columns: 100%;
}
