@use "../styles/variables/sass.scss" as *;

.block {
  justify-self: center;
  display: grid;
  grid-template-columns: 100%;
  gap: $size-normal;
  max-width: 100%;
  background-color: var(--colour1-primary);
  border-radius: $radius-normal;
  padding: $size-normal;

  @media (min-width: $width-tablet) {
    max-width: $width-tablet;
    padding: $size-big;
  }
}

.body {
  display: grid;
grid-template-columns: 100%;
}
