@use "../../styles/variables/sass.scss" as *;

.block {
  position: relative;
  flex-flow: row nowrap;
  background-color: transparent;
  align-items: center;
  gap: 1px;
  padding: 0;

  &:focus-within {
    .advanced {
      visibility: visible;
      opacity: 1;
    }
  }
}

.search {
  grid-template:
    "input" auto
    / auto;
  gap: none;

  // @TODO better way to handle label
  & > label {
    display: none;
  }

  & > input {
    border-radius: $radius-small 0 0 $radius-small;
  }

  @media (min-width: $width-tablet) {
    grid-template:
    "label input" auto
    / auto;
    gap: $size-small;
  }
}

// @TODO fix an off-pixel height difference
.submit {
  min-height: 45px;
  border-radius: 0 $radius-small $radius-small 0;
}

.advanced {
  position: absolute;
  top: calc(100% + 0.5em);
  // a hack to place it visually along the input line
  // @TODO find a better way
  left: 0.5em;
  background-color: var(--colour1-primary);
  box-shadow: 0px 0px 10px var(--colour1-secondary);
  padding: $size-small;

  visibility: hidden;
  opacity: 0;

  transition-duration: var(--duration-global);
  transition-property: visibility, opacity;
}
