{
	"folders": [
		{
			"name": "horahora",
			"path": "."
		},
		{
			"name": "front_api",
			"path": "front_api"
		},
		{
			"name": "backup_service",
			"path": "backup_service"
		},
		{
			"name": "scheduler",
			"path": "scheduler"
		},
		{
			"name": "stomp_proxy",
			"path": "stomp_proxy"
		},
		{
			"name": "tests",
			"path": "tests"
		},
		{
			"name": "user_service",
			"path": "user_service"
		},
		{
			"name": "video_service",
			"path": "video_service"
		},
		{
			"name": "webapp",
			"path": "webapp"
		},
		{
      "name": "cli",
      "path": "cli"
    },
		{
			"name": "schema",
			"path": "schema"
		}
	],
	"settings": {
		"files.exclude": {
			"**/.git": true,
			"**/.svn": true,
			"**/.hg": true,
			"**/CVS": true,
			"**/.DS_Store": true,
			"**/Thumbs.db": true,
			"**/node_modules": true,
			"front_api": true,
			"backup_service": true,
			"scheduler": true,
			"stomp_proxy": true,
			"tests": true,
			"user_service": true,
			"video_service": true,
			"webapp": true,
			"schema": true,
			"cli": true
		},
		"files.associations": {
			// syntax highlight for example env files
			"**/.env*": "dotenv",
			// syntax highlight for example workspace files
			"**/*.code-workspace*": "jsonc"
		},
		// remove text 3 options if you've set them up in global editor settings
		"files.trimTrailingWhitespace": true,
  	"files.insertFinalNewline": true,
  	"files.trimFinalNewlines": true
	},
	"extensions": {
		"recommendations": [
			// `.env` syntax highlight
			"mikestead.dotenv",
			// docker-related features plus highlight in dockerfiles and compose configs
			"ms-azuretools.vscode-docker",
			// lots of QoL git features
			"eamodio.gitlens",
			// nginx config highlight
			"ahmadalli.vscode-nginx-conf",
			// `.sql` formatter
			"bradymholt.pgformatter",
			// `.proto3` syntax highlight
			"zxh404.vscode-proto3"
		]
	}
}
