server {
    listen       80;
    listen  [::]:80;
    server_name  {{ origin }};

    error_log /dev/stderr debug;
    client_max_body_size 20M;

    resolver 127.0.0.11 valid=10s;

    location /static/images {

    }

    location /otomads {
        set $backend_service minio;
        proxy_pass http://$backend_service:9000$request_uri;
    }

    location /api/ {
        proxy_set_header X-Forwarded-Host $http_host;
        proxy_pass_request_headers      on;
        set $backend_service frontapi;
        proxy_pass http://$backend_service:8083$request_uri;
        proxy_request_buffering off;
    }

    location /ws {
        set $backend_service stomp_proxy;
        proxy_pass http://$backend_service:15674/ws;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_set_header Host $host;
    }

    location /_next/webpack-hmr {
        set $backend_service react_app;
        proxy_pass http://$backend_service:3000/_next/webpack-hmr;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_set_header Host $host;
    }

    location / {
        set $backend_service react_app;
        proxy_pass http://$backend_service:3000$request_uri;
    }
}
